/* Sidebar */
.sidebar-custom {
  position: fixed;
  top: 62px;
  left: 0;
  height: calc(100vh - 62px);
  width: 220px;
  background: #212529;
  color: #fff;
  z-index: 1040;
  transition: left 0.3s ease, visibility 0.3s ease;
  overflow-y: auto;
  visibility: visible;
}

/* Hidden on small screens by default */
@media (max-width: 991.98px) {
  .sidebar-custom {
    left: -220px;
    visibility: hidden;
  }
  .sidebar-custom.open {
    left: 0;
    visibility: visible;
  }

  .sidebar-overlay {
    display: block;
  }
}

/* Always visible on large screens */
@media (min-width: 992px) {
  .sidebar-custom {
    left: 0;
    visibility: visible;
  }

  .main-content-custom-lg {
    margin-left: 220px;
    transition: margin-left 0.3s ease;
  }

  .sidebar-overlay {
    display: none;
  }
}

/* Main content */
.main-content-custom {
  margin-left: 0;
  transition: margin-left 0.3s;
}

@media (min-width: 992px) {
  .main-content-custom {
    margin-left: 220px;
  }
}


/* Sidebar overlay (mobile only) */
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  z-index: 1030;
  display: none;
}
